.search-container{
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0px 3rem;
    opacity: 0.9;
}

.search{
    border: none;
    background-color: black;
    border-radius: 20px;
    color: white;
    height: 0.5rem;
    padding: 12px;
    width: 18rem;
}

.search-icon{
    margin-left: 0.8rem;
    color: antiquewhite;
    cursor: pointer;
}